<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ForwardInvocationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A3EAE991BE32356006B16CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A3EAEB21BE32356006B16CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A3EAEBD1BE32356006B16CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
